In [2]:
# This program adds 2 nbs 
num1 = 1
num2 = 4

#Addition 
sum = num1+num2

In [3]:
print("The sum of {0} and {1} is {2}".format(num1, num2, sum))

The sum of 1 and 4 is 5

## ML process
* Loading Data
* Preprocessing 
* Training a model 
* Evaluating the model 
* Making predictions

In [8]:
# Import necessary libs 
import pandas as pd 
from sklearn.linear_model import LogisticRegression

In [9]:
# Load dataSet 
iris_data = pd.read_csv('iris.csv')
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [12]:
# Split the data into features : X - label : Y 

x = iris_data.drop(columns=['variety'])
y = iris_data['variety']

In [14]:
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [16]:
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [17]:
# Create a ML model 
model = LogisticRegression() # init the model with default settings

In [19]:
# Train the model 
model.fit(x.values, y)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
# prediction using the trained model 
predictions = model.predict([[4.6, 3.5, 1.5, 0.2]])