In [1]:
# This program adds 2 nbs 
num1 = 1
num2 = 4

#Addition 
sum = num1+num2

In [2]:
print("The sum of {0} and {1} is {2}".format(num1, num2, sum))

The sum of 1 and 4 is 5

## ML process
* Loading Data
* Preprocessing 
* Training a model 
* Evaluating the model 
* Making predictions

In [6]:
# Import necessary libs 
import pandas as pd 
import numpy as np # numerical 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split #=>splits the dataset into training and testing sets 
from sklearn.preprocessing import StandardScaler #=> standerise the features by scaling them to have a mean of 0 and standart deviation of 1                                                                                           
from sklearn.metrics import accuracy_score #=> Calculate the accuracy of model prediction

In [7]:
# Load dataSet 
iris_data = pd.read_csv('iris.csv')
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
# Split the data into features : X - label : Y 

x = iris_data.drop(columns=['variety'])
y = iris_data['variety']

In [9]:
# Split the data into training and testing sets 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [10]:
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
# Standerize the features 
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [16]:
# Create a ML model 
model = LogisticRegression() # init the model with default settings

In [18]:
# Train the model 
# model.fit(x.values, y) if no div btwn train and test 
model.fit(x_train_scaled, y_train) # train the logistic regression model using standerdized training features and their labels

LogisticRegression()

In [20]:
# prediction using the trained model 
#predictions = model.predict([[4.6, 3.5, 1.5, 0.2]])
y_pred = model.predict(x_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ", accuracy) # higher accuracy => better model 1 = 100% accurate

Accuracy:  0.9666666666666667

In [21]:
# Sample new data for prediction 
new_data = np.array([[5.1, 3.5, 1.4, 0.2],
                     [6.3, 2.9, 5.6, 1.8],
                     [4.9, 3.0, 1.4, 0.2]])

In [22]:
# Standerdize the new samples 
new_data_scaled = scaler.transform(new_data)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [23]:
# Make prediction 
predictions = model.predict(new_data_scaled)

In [25]:
# Display rslt 
print("Prediction: {0}".format(predictions))

Prediction: ['Setosa' 'Virginica' 'Setosa']